# get latest pip
git+https://github.com/pypa/pip.git#egg=pip

# install odoo
-r ./odoo_src/requirements.txt
-e ./odoo_src

setuptools-odoo
odoo-autodiscover

# tests
git+https://github.com/camptocamp/pytest-odoo.git

# dev 
pdbpp

